:root {
  --grade-padding: 24px;
}

.model-grade-slide {
  border: solid 1px var(--clr-grey-dk);
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.model-grade-img {
  padding: 16px;
  background-color: var(--clr-white);
}

.model-grade-name-row {
  padding: 8px var(--grade-padding) var(--grade-padding);
  background-color: var(--clr-white);
  display: grid;
  gap: 16px;
}

.model-grade-driveaway {
  font-size: 0.6em;
  letter-spacing: 0.1em;
}

.model-grade-price {
  font-size: 1.5em;
}

.model-grade-features-row {
  padding: var(--grade-padding);
}

.model-grade-features-title {
  color: var(--clr-dark-grey);
}

.model-grade-features-row ul {
  padding-left: 20px;
  margin-bottom: 0;
  line-height: 1.5em;
  font-size: 0.8em;
  display: grid;
  gap: 8px;  
}

.model-grade-cta {
  padding: 0 var(--grade-padding) var(--grade-padding);
  margin-top: auto;
}

.model-grades .embla .embla__container > div {
  flex: none;
  width: calc(100% - 24px);
}



@media (min-width:768px) {

  .model-grades .embla .embla__container > div {
    width: calc(50% - 24px);
  }

}

@media (min-width:1024px) {

  .model-grades .embla .embla__container > div {
    width: calc(33.3333% - 24px);
  }

  .version-3 .model-grades  .embla__prev {
    left: 8px;
  }
  
  .version-3 .model-grades  .embla__next {
    right: 8px;
  }

  .version-3 .model-grades  .embla__prev svg, .version-3 .model-grades  .embla__next svg {
    font-size: 12px;
    padding: 12px;
  }
  
}

@media (min-width:1200px) {

  .version-3 .model-grades  .embla__prev svg, .version-3 .model-grades  .embla__next svg {
    padding: 12px 14px 12px 10px;
    font-size: 22px;
    background: #c1c1c1;
  }

  .version-3 .model-grades  .embla__prev:hover svg, .version-3 .model-grades  .embla__next:hover svg {
    background: #000000;
  }

  .model-grades .embla {
    padding-left: 24px;
    padding-right: 24px;
  }

  .version-3 .model-grades  .embla__prev {
    left: 0;
  }
  
  .version-3 .model-grades  .embla__next {
    right: 0;
  }
  
}

@media (min-width:1440px) {

  .model-grades .embla .embla__container > div {
    width: calc(25% - 24px);
  }

}

@media (max-width:1199px) {

  .model-grades .lrg-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .model-grades .embla {
    padding-left: 24px;
    padding-right: 24px;
  }

}


@media (max-width:1023px) {

  .model-grades .lrg-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .model-grades .embla {
    padding-left: 48px;
    padding-right: 48px;
  }

  .model-grades .embla__arrows__container {
    display: none;
  }
  
}