
/* =========================
   Hero Slider Version 3
========================= */

.version-3 .embla__prev, .version-3 .embla__next {
  border: none;
  background: transparent;
  padding: 0;
}

.version-3 .embla__prev svg, .version-3 .embla__next svg {
  padding: 12px 14px 12px 10px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  font-size: 22px;
  transition: ease 0.4s all;
}

.version-3 .embla__next svg {
  padding: 12px 10px 12px 14px;
}

.version-3 .embla__prev:hover svg, .version-3 .embla__next:hover svg {
  background-color: #ffffff4a;
  border-color: transparent;
}

.version-3 .hero-text {
  text-transform: uppercase;
  gap: var(--hero-gap);
}

.version-3 .hero-text h2 {
  font-size: 0.8em;
}

.version-3 .hero-text p {
  font-size: 2em;
}


.version-3 .hero-text h2, .version-3 .hero-text p {
  margin: 0;
  line-height: 1em;
}

.version-3 .hero-slider .embla__slide img {
  height: auto;
  max-height: 540px;
}


@media (min-width:768px) {

  .version-3 .hero-slider .embla__slide img {
    height: calc(100vh - 68px);
    max-height: none;
  }

}

@media (min-width:1024px) {

  .version-3 .hero-text {
    gap: var(--hero-gap-d);
  }

  .version-3 .hero-text h2 {
    font-size: 1.25em;
  }

  .version-3 .hero-text p {
    font-size: 3.5em;
  }

  .version-3 .hero-text h2, .version-3 .hero-text p {
    line-height: 1em;
  }

  .version-3 .hero-slider .embla__slide img {
    height: calc(100vh - 138px);
  }
  
}

@media (min-width:1600px) {

  .hero-slider .embla__slide img {
    height: calc(100vh - 138px);
  }
  
}






/* =========================
   Hero Slider
========================= */

.hero-slider {
  position: relative;
}

.hero-slider .embla__slide img {
  height: calc(100vh - 74px);
}

.hero-slider .embla__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #0000008c, transparent);
  width: 75%;
}

.hero-slider .embla__dots__container {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}


/* Text */
.hero-text-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  padding: var(--padding-tb) var(--padding-lr);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-text {
  max-width: var(--std-wrapper);
  width: 100%;
  display: grid;
  gap: 16px;
  text-align: center;
}

.hero-text h1, .hero-text h2, .hero-text h3, .hero-text p {
  margin: 0;
}

.slide-dark {
  color: #fff;
}

@media (min-width:1024px) {

  .hero-text-top .hero-text-container {
    align-items: flex-start;
  }

  .hero-text-bottom .hero-text-container {
    align-items: flex-end;
  }

  .hero-text-bottom .hero-text, .hero-text-top .hero-text {
    text-align: left;
  }

}

@media (min-width:1900px) {

  .hero-text-container {
    width: calc(100% - 96px);
    height: calc(100% - 96px);
    padding: var(--padding-tb-d) var(--padding-lr-d);
  }
    
  .hero-slider .embla__slide img {
    height: calc(100vh - 138px);
  }

}