.featured {
  padding: 40px;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.vehicle-card {
  border: solid 1px #ccc;
}

.vehicle-card img {
  width: 100%;
}

.version-2 .featured-vehicles {
  overflow-x: hidden;
}