.version-3 .welcome-section h1 span {
    display: block;
    font-size: 0.35em;
    line-height: 1.3em;
    margin-bottom: 8px;
}

@media (min-width:1024px) {

    .version-3 .welcome-section h1 span {
        font-size: 0.5em;
}
    
}


