.version-3 .header-v3.scrolled .header-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.version-3 .model-anchor {
    position: relative;
    top: -61px;
}




.version-2 .model-detail-content img {
    width: 100%;
}