/* =========================
   Version 2 - Model Specific Styles - BT 50
========================= */

.version-2 .model-bt-50 .section-break-btm {
  background-position: bottom -1px center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}

.version-2 .model-bt-50 .section-break-btm {
    background-size: 100%;
}



/* =========================
   Version 3 - General Model Styles
========================= */


.version-3 .model-bt-50 .section-break-btm {
    background-position: bottom -1px center;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 48px;
}

.version-3-body.model-body .header-v3.scrolled .header-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.version-3 .model-anchor {
    position: relative;
    top: -61px;
}

.version-2 .model-detail-content img {
    width: 100%;
}



/* =========================
   Model Specific Styles - BT 50
========================= */


@font-face {
    font-family: BT-50Type;
    font-display: block;
    src: url(../assets/fonts/BT-50Type.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

.version-3 .model-bt-50 h1, .version-3 .model-bt-50 h2, .version-3 .model-bt-50 h3, .version-3 .model-bt-50 h4, .version-3 .model-bt-50 .h1, .version-3 .model-bt-50 .h2, .version-3 .model-bt-50 .h3, .version-3 .model-bt-50 .h4 {
  font-family: var(--font-bt50);
}

.version-3 .model-bt-50 .model-nav .h4{
    font-family: var(--font-mazda);
}

.version-3 .model-bt-50 .section-break-btm {
  background-position: bottom -1px center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 48px;
}

.version-3 .model-bt-50 .model-hero-title {
    letter-spacing: 0.05em;
}


@media (min-width: 1024px) {

    .version-3 .model-bt-50 .section-break-btm {
        background-size: 100%;
    }

}

@media (min-width: 1600px) {

    .version-3 .model-bt-50 .section-break-btm {
        padding-bottom: 72px;
    }

}

/* =========================
   Model Specific Styles - BT 50 - Highlights
========================= */

.version-3 .model-bt-50 .model-highlights {
    font-family: var(--font-bt50);
}

.version-3 .model-bt-50 .model-highlights-col {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    gap: 16px;
    text-align: center;
}

@media (max-width: 767px) {

    .version-3 .model-bt-50 .model-highlights-col {
        text-align: left;
        align-items: flex-start;
    }

    .version-3 .model-bt-50 .model-highlights-col .model-highlights-img {
        max-width: 64px;
    }

}

/* =========================
   Model Specific Styles - BT 50 - Text and Full Image
========================= */

.version-3 .model-bt-50 .model-text-bg-image {
    position: relative;
}

.version-3 .model-bt-50 .model-text-bg-image .lrg-wrapper {
    z-index: 2;
    position: relative;
}

.version-3 .model-bt-50 .model-text-bg-image::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, #101010, transparent);
}