.range-card {
    opacity: 0;
    transform: translateY(16px);
    animation: fadeUp 0.5s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.range-card a {
    padding: 0 24px;
    display: grid;
    gap: 16px;
}

.range-card img {
    max-width: 360px;
    width: 100%;
}

.range-info {
    display: grid;
    gap: 8px;
}

.range-card a h4 {
    color: var(--clr-black);
}

.range-card a p {
    color: var(--clr-grey-dk);
    font-size: 0.8em;
    line-height: 1.2em;
}

@media (max-width:575px) {

    .range-card a {
        padding: 0;
        grid-template-columns: repeat(10, 1fr);
        display: grid;
        direction: rtl;
        align-items: center;
        border-bottom: solid 1px var(--clr-grey-dk);
        padding: 32px 0;
        gap: 8px;
    }

    .range-img {
        grid-column: span 6;
    }

    .range-info {
        text-align: left;
        grid-column: span 4;
    }

    .range-card h4 {
        font-size: 1em;
    }

    .range-model-grid .range-card:last-child a {
        border-bottom: none;
    }

    
}