
.header-vehicle-menu {
    display: none;
}

.show-model-menu .header-vehicle-menu {
    display: block;
}

.header-vehicle-menu {
    position: fixed;
    top: 73px;
    width: 100%;
    z-index: 12;
    background: var(--clr-white);
    color: var(--clr-black);
    overflow-y: scroll;
    height: 100%;
}

.version-3 .header-v3 .header-vehicle-menu .std-wrapper {
    padding-top: var(--padding-tb);
    padding-bottom: var(--padding-tb);
}

@media (min-width: 1024px) {
    .version-3 .header-v3 .header-vehicle-menu .std-wrapper {
        padding-top: var(--padding-tb-d);
        padding-bottom: var(--padding-tb-d);
    }

    .header-vehicle-menu {
        top: 113px;
        height: auto;
        overflow-y: auto;
    }

}




.header-vehicle-menu-sidebar {
    align-content: start;
}

.header-vehicle-menu-sidebar-links {
    display: grid;
    gap: var(--grid-gap);    
}

.header-vehicle-menu-sidebar-links button {
    color: var(--clr-grey-dk);
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
    font-family: var(--font-mazda);    
    cursor: pointer;
    
}

.version-3 .header-vehicle-menu-sidebar-links button {
    text-transform: none;
}

.header-vehicle-menu-sidebar-links button.active {
    color: var(--clr-black);
}




.version-3 .header-vehicle-menu-model {
    opacity: 0;
    transform: translateY(16px);
    animation: fadeUp 0.5s ease forwards;
}








.header-vehicle-menu-mobile {
    padding: 32px 24px 128px;
}

.header-vehicle-menu-mobile button {
    font-family: MazdaTypeTT;
    padding: 0;
    border: none;
    background-color: transparent;
    padding: 8px 0;
    font-size: 1em;
}


.mobile-model-categories {
    display: grid;
    justify-items: start;  
    gap: 16px;  
}

.mobile-menu-category {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
}

.mobile-menu-category span:nth-child(2) {
    font-size: 2em;
}

.header-vehicle-menu-mobile .mobile-menu-back {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-bottom: solid 1px var(--clr-grey-border);
    padding: 16px 0;
}

.mobile-menu-back span {
    font-size: 1.3em;
    font-weight: 600;
    grid-column: span 1;
}


.mobile-menu-back span:nth-child(1) {
    text-align: left;    
}