.version-2 .hidden, .version-2 .footer-col.hidden {
    display: none;
}

.version-2 .footer-col {
    display: grid;
}

footer h4 {
    cursor: pointer;
}

.version-1 footer {
    background-color: #181818;
}

