.hidden {
    display: none;
}

/* Make headings clickable only in V2 */
.footer h4 {
    cursor: pointer;
}

/* Mobile layout */
@media (max-width: 768px) {
    .grid-d-five-cols {
        display: block;
    }

    .grid-d-five-cols > div {
        margin-bottom: 20px;
    }
}
