.page-hero {
  position: relative;
}

.page-hero img {
  width: 100%;
}

.page-hero-content {
  text-align: center;
}

.page-hero-eyebrow {
  font-size: 0.5em;
  display: block;
}

.page-hero-video video {
  width: 100%;
  max-height: 480px;
  object-fit: cover;
}

.page-hero-video-cta {
  position: absolute;
  bottom: var(--padding-tb);
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 14px 16px 18px;
}

.page-hero-video-cta-arrow {
  width: 12px;
  height: 12px;
  border: solid 2px #fff;
  display: block;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
}

.page-hero-video-cta:hover {
  background-color: #fff;  
}

.page-hero-video-cta:hover .page-hero-video-cta-arrow {
  border-color: #666;
}

/* =========================
   Page Hero Version 3
========================= */

.version-3 .page-hero-content {
  position: absolute;
  left: 50%;
  top: var(--padding-tb);
  transform: translateX(-50%);
  max-width: var(--sml-wrapper);
  width: 100%;
  padding: 0 var(--padding-lr);
  color: #fff;
}

.version-3 .page-hero h1 {
  line-height: 1;
  display: grid;
  gap: 8px;
}

.version-3 .page-hero-eyebrow {
  font-size: 0.45em;
  line-height: 1.2em;
}


.page-hero-img::after, .version-3 .page-hero-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(0deg, transparent, #000000d1);
}

.page-hero-img img {
  object-fit: cover;
  height: 480px;
  width: 100%;
}

@media (min-width:576px) {

  .page-hero-img img {
    object-fit: contain;
    height: auto;
  }

}

@media (min-width:1024px) {

  .version-3 .page-hero-content {
    padding: 0 var(--padding-lr-d);
    top: var(--padding-tb-d);
  }

  .version-3 .page-hero-eyebrow {
    font-size: 0.3em;
  }
  .version-3 .page-hero h1 {
    font-size: 2.5em;
  }
    
}

@media (min-width:1440px) {

  .version-3 .page-hero-eyebrow {
    font-size: 0.3em;
  }
  .version-3 .page-hero h1 {
    font-size: 4em;
  }
    
}

/* =========================
   Page Hero Version 3 - Video
========================= */

.version-3 .page-hero-video video {
  object-fit: cover;
  height: 480px;
  width: 100%;
}

@media (min-width: 576px) {

  .version-3 .page-hero-video video {
    height: auto;
    object-fit: cover;
  }

}

@media (min-width:1024px) {

  .version-3 .page-hero-video video {
    object-fit: cover;
    height: calc(100vh - 112px);
    max-height: none;
  }
    
}

@media (min-width:1280px) {

  .version-3 .page-hero-video video {
    height: calc(100vh - 125px);
  }
    
}