.page-hero {
  position: relative;
}

.page-hero img {
  width: 100%;
}

.page-hero-content {
  text-align: center;
}

/* =========================
   Page Hero Version 3
========================= */

.version-3 .page-hero-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: var(--sml-wrapper);
  width: 100%;
  padding: 0 var(--padding-lr);
  color: #fff;
}

@media (min-width:1024px) {

  .version-3 .page-hero-content {
    padding: 0 var(--padding-lr-d);
  }
    
}