

.page-image-text-stacked .img-content img {
  width: 100%;
}


/* =========================
   Version 3 Layout
========================= */

.version-3 .page-image-text-stacked .full-wrapper {
  gap: 0;
}

.version-3 .page-image-text-stacked .text-content {
  max-width: var(--sml-wrapper);
  margin: 0 auto;
  padding: var(--padding-tb) var(--padding-lr);
}

.version-3 .page-image-text-stacked .text-content {
  text-align: center;
}

.page-image-text-stacked .img-content img {
  object-fit: cover;
  min-height: 240px;
}

@media (min-width:1024px) {

  .page-image-text-stacked .img-content img {
    max-height: 640px;
    min-height: auto;
  }

}


