.page-accordian-row {
  border-bottom: solid 1px var(--clr-grey-border);
}

.accord-head {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: var(--wrapper-gap);
  cursor: pointer;
}

.accord-content {
  max-height: 0;  
  overflow: hidden;
  transition: ease-out 0.4s all;
  padding: 0 var(--wrapper-gap);
  
}

.active .accord-content {
  max-height: unset;
  opacity: 1;
  padding: 0 var(--wrapper-gap) var(--wrapper-gap);
  white-space: pre-line;
}

.accord-content * {
  opacity: 0;
  transition: ease-out 0.6s all;
}

.active .accord-content * {
  opacity: 1;
}







.version-3 .accord-head {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: start;
  gap: 8px;
  font-size: 1em;
}

.version-3 .page-accordian-row.active .accord-head, .version-3 .page-accordian-row .accord-head:hover {
  color: var(--clr-primary);
}

.version-3 .accord-head-icon {
  color: var(--clr-primary);
  transition: ease-out 0.1s all;
  font-size: 1.5em;
}

.version-3 .page-accordian-row.active .accord-head-icon {
  transform: rotate(45deg);
}

@media (min-width:576px) { 

  .version-3 .accord-head {
    font-size: 1.2em;
  }
  
}