

.version-3 .page-icon-feature-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
  align-items: center;
  justify-content: start;
}

.version-3 .page-icon-feature-item-content {
  display: grid;
  gap: 8px;
}