:root {
	--std-wrapper: 1800px;
	--padding-lr: 24px;
	--padding-tb: 24px;
	--padding-lr-d: 48px;
	--padding-tb-d: 80px;

  --grid-gap: 8px;
  --grid-gap-d: 24px;

  --hero-gap: 12px;
  --hero-gap-d: 12px;

  --font-mazda: MazdaTypeTT;

  --wrapper-gap: 24px;
  --wrapper-gap-d: 48px;

  /* Colours */
  --clr-primary: #910a2d;
  --clr-primary-lt: #B73053;
  --clr-primary-dk: #6B0007;

  --clr-white: #ffffff;
  --clr-black: #101010;
  
  --version-1-clr-grey: #2a2a2a;
  --version-1-lt: #505050;
  --version-1-dk: #040404;

  --clr-grey: #f5f5f5;
  --clr-grey-dk: #999999;

  --clr-dark-grey: #3a3d46;
  --clr-dark-grey-lt: #545760;
  --clr-dark-grey-dk: #21242D;


  --clr-nav: #000000;

  --header-text: #ffffff;
  --header-bg: #101010;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: MazdaTypeTT;
    font-display: block;
    src: url(assets/fonts/MazdaTypeTT-Regular.woff2) format("woff2"), url(assets/fonts/MazdaTypeTT-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

/* SVG */
[class*=" icon-"],[class^=icon-]{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor}

body {
  margin: 0;
}

/* Wrappers */

.std-wrapper, .full-wrapper {
  margin: 0 auto;
  max-width: var(--std-wrapper);
}

.full-wrapper {
  margin: 0 auto;
  max-width: none;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



/* =========================
   Embla General Style
========================= */

.embla {
  overflow: hidden;
  position: relative;
}

.embla__container {
  display: flex;
}

/* Slide */
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000008c;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Dots */
.embla__dots {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 12px;
}

.embla__dots__container {
  padding: var(--padding-tb) 0;
}

.embla__dot {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;
  border: solid 2px #e5e5e5;
}

.embla__dot.is-active {
  background: transparent;
  border: solid 2px var(--clr-primary);
}

.embla__dot-progress {
  position: absolute;
  inset: 0;
  background: var(--clr-primary);
  transform-origin: left;
  animation: emblaProgress 4s linear forwards;
}

/* animation */
@keyframes emblaProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


/* Arrows */
.embla__prev, .embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-lr);
  cursor: pointer;
}

.embla__next {
  left: auto;
  right: var(--padding-lr);
}
