:root {
	--std-wrapper: 1200px;
	--padding-lr: 24px;
	--padding-tb: 24px;
	--padding-lr-d: 48px;
	--padding-tb-d: 48px;

  --grid-gap: 8px;
  --grid-gap-d: 24px;

  /* Colours */
  --clr-nav: #000000;



  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.std-wrapper {
  margin: 0 auto;
  max-width: var(--std-wrapper);
}


/* =========================
   Embla General Style
========================= */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000008c;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* =========================
   Embla General Style
========================= */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}


/* Slide */
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0000008c;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}


/* Dots */
.embla__dots {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 8px;
}

.embla__dots__container {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.embla__dot {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0000005e;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.embla__dot.is-active {
  background: #666666;
}

.embla__dot-progress {
  position: absolute;
  inset: 0;
  background: #ffffff;
  transform-origin: left;
  animation: emblaProgress 4s linear forwards;
}

/* animation */
@keyframes emblaProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


/* Arrows */
.embla__prev, .embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-lr);
  cursor: pointer;
}

.embla__next {
  left: auto;
  right: var(--padding-lr);
}