:root {
	--std-wrapper: 1200px;
	--padding-lr: 24px;
	--padding-tb: 24px;
	--padding-lr-d: 48px;
	--padding-tb-d: 48px;

  --grid-gap: 8px;
  --grid-gap-d: 24px;

  /* Colours */
  --clr-nav: #000000;



  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.std-wrapper {
  margin: 0 auto;
  max-width: var(--std-wrapper);
}
