/* =========================
   General Styles
========================= */

.version-3 {
  font-family: MazdaTypeTT;
  line-height: 1.65em;
}

.version-3 a {
  text-decoration: none;
}

.version-3-body {
  padding-top: 68px;
}



@media (min-width:1024px) {

  .version-3-body {
    padding-top: 138px;
  }
    
}

/* =========================
   Wrapper
========================= */

.version-3 .std-wrapper {
  display: grid;
  gap: var(--wrapper-gap);
}

@media (min-width:1024) {

  .version-3 .std-wrapper {
    display: grid;
    gap: var(--wrapper-gap-d);
  }
  
}


/* =========================
   Fonts
========================= */

.version-3 h1, .version-3 h2, .version-3 h3, .version-3 h4, .version-3 .h1, .version-3 .h2, .version-3 .h3, .version-3 .h4 {
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

.version-3 h1, .version-3 .h1 {
  font-size: 2.5em;
}

.version-3 h2, .version-3 .h2 {
  font-size: 2.5em;
}

.version-3 h3, .version-3 .h3 {
  font-size: 1.6em;
}

.version-3 h4, .version-3 .h4 {
  font-size: 1.3em;
}

.version-3 p {
  margin: 0;
}

/* =========================
   Buttons
========================= */

.version-3 .btn, .version-3 a.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: MazdaTypeTT;
  cursor: pointer;
  letter-spacing: 0.25em;
  transition: ease 0.4s all;
}

.version-3 .btn-primary, .version-3 a.btn-primary {
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.version-3 .btn-primary:hover, .version-3 a.btn-primary:hover {
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.version-3 .btn-underline {
  color: var(--clr-primary);
  border-bottom: solid 1px var(--clr-primary);
  letter-spacing: 0;
  width: max-content;
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
  text-transform: none;
}

/* =========================
   Wrapper
========================= */

.version-3 .std-wrapper {
  padding: var(--padding-tb) var(--padding-lr);
}

@media (min-width:1024px) {

  .version-3 .std-wrapper {
    padding: var(--padding-tb-d) var(--padding-lr-d);
  }

}

/* =========================
   Grid Columns Layout
========================= */

.version-3 .grid-d-two-cols, .version-3 .grid-d-three-cols, .version-3 .grid-d-four-cols, .grid-d-five-cols {
  display: grid;
  gap: var(--grid-gap);
}

.version-3 .grid-d-two-cols > div, .version-3 .grid-d-three-cols > div, .version-3 .grid-d-four-cols > div, .grid-d-five-cols > div {
  grid-column: span 1;
}

.version-3 .grid-d-three-cols > div {

}

@media (min-width:576px) {

  .version-3 .grid-t-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .version-3 .grid-t-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width:768px) {

  .version-3 .grid-l-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .version-3 .grid-l-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width:1024px) {
  
  .version-3 .grid-d-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .version-3 .grid-d-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .version-3 .grid-d-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .version-3 .grid-d-five-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}
