/* =========================
   General Style
========================= */

.version-2 a {
  text-decoration: none;
}

.version-2 {
  line-height: 1.65em;
}

.version-2 .btn {
  padding: 12px;
}

.version-2 .btn-primary {
  background-color: #000;
  color: #fff;
}

.version-2 .btn-outline {
  border: solid 1px #000;
  color: #000;
}

/* =========================
   Wrapper
========================= */

.version-2 .std-wrapper {
  padding: var(--padding-tb) var(--padding-lr);
}

@media (min-width:1024px) {

  .version-2 .std-wrapper {
    padding: var(--padding-tb-d) var(--padding-lr-d);
  }

}

/* =========================
   Grid Columns Layout
========================= */

.version-2 .grid, .version-2 .grid-m-two-cols, .version-2 .grid-m-three-cols, .version-2 .grid-m-four-cols, .grid-m-five-cols, .version-2 .grid, .version-2 .grid-t-two-cols, .version-2 .grid-t-three-cols, .version-2 .grid-t-four-cols, .grid-t-five-cols, .version-2 .grid, .version-2 .grid-l-two-cols, .version-2 .grid-l-three-cols, .version-2 .grid-l-four-cols, .grid-l-five-cols, .version-2 .grid, .version-2 .grid-d-two-cols, .version-2 .grid-d-three-cols, .version-2 .grid-d-four-cols, .grid-d-five-cols, .version-2 .grid, .version-2 .grid-xl-two-cols, .version-2 .grid-xl-three-cols, .version-2 .grid-xl-four-cols, .grid-xl-five-cols {
  display: grid;
  gap: var(--grid-gap);
}

.version-2 .grid > div, .version-2 .grid-d-two-cols > div, .version-2 .grid-d-three-cols > div, .version-2 .grid-d-four-cols > div, .grid-d-five-cols > div, .version-2 .grid-l-two-cols > div, .version-2 .grid-l-three-cols > div, .version-2 .grid-l-four-cols > div, .grid-l-five-cols > div, .version-2 .grid-t-two-cols > div, .version-2 .grid-t-three-cols > div, .version-2 .grid-t-four-cols > div, .grid-t-five-cols > div, .version-2 .grid-m-two-cols > div, .version-2 .grid-m-three-cols > div, .version-2 .grid-m-four-cols > div, .grid-m-five-cols > div {
  grid-column: span 1;
}

.version-2 .grid-m-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.version-2 .grid-m-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.version-2 .grid-m-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.version-2 .grid-m-five-cols {
  grid-template-columns: repeat(5, 1fr);
}

@media (min-width:576px) {

  .version-2 .grid-t-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .version-2 .grid-t-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .version-2 .grid-t-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .version-2 .grid-t-five-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (min-width:768px) {

  .version-2 .grid-l-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .version-2 .grid-l-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .version-2 .grid-l-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .version-2 .grid-l-five-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (min-width:1024px) {

  .version-2 .grid, .version-2 .grid-d-two-cols, .version-2 .grid-d-three-cols, .version-2 .grid-d-four-cols, .grid-d-five-cols {
    gap: var(--grid-gap-d);
    column-gap: var(--grid-gap-row-d);
  }
  
  .version-2 .grid-d-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .version-2 .grid-d-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .version-2 .grid-d-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .version-2 .grid-d-five-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (min-width:1280px) {

  .version-2 .grid, .version-2 .grid-xl-two-cols, .version-2 .grid-xl-three-cols, .version-2 .grid-xl-four-cols, .grid-xl-five-cols {
    gap: var(--grid-gap-d);
    column-gap: var(--grid-gap-row-d);
  }
  
  .version-2 .grid-xl-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .version-2 .grid-xl-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .version-2 .grid-xl-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .version-2 .grid-xl-five-cols {
    grid-template-columns: repeat(5, 1fr);
  }

}

/* =========================
   Grid DIVs
========================= */

.center-content {
  display: grid;
  align-items: center;
}

.center-img img {
  object-fit: cover;
  height: 100%;
}

.centre-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



@media (min-width:768px) {

  .grid-l-reverse {
    direction: rtl;
  }

  .grid-l-reverse > div {
    direction: ltr;
  }

}

@media (min-width:1024px) {

  .grid-d-reverse {
    direction: rtl;
  }

  .grid-d-reverse > div {
    direction: ltr;
  }

}